html {
    text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, freesans, clean, sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    font-size-adjust: none;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #cec7c7;
}

    nav img {
        padding: 2.2em;
    }

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    padding: 1em;
}

ul li {
    list-style-type: none;
    justify-content: space-around;
    padding: 1em;
}

.pics {
    display: flex;
    justify-content: center;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    div img {
        border: 2px solid black;
        justify-content: center;
        margin: 5px;
    }

@media ( max-width: 00px) {
    div img {
        max-height: 150px;
        max-width: 150px;
    }
}
